body{
      background-color: rgba(10, 10, 10, 0.849);
      color: rgb(255, 255, 255);
     

}
/*
img {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    height: 100px;
}*/


.js  {
    background-color: rgb(78, 61, 61);
    
    display: flex;
    border-radius: 510px 170px 1330px 522px ;
    margin: 35px 20px 20px 30px;
    
    
    

}

.js p {
    margin: 75px 64px 10px 10px;
    background-color: rgb(134, 115, 115);
    padding: 30px 20px 5px 20px;
    border-radius: 20px 20px 40px 20px;


}

.js img {
    height: 160px;
    border-radius: 60px 30px 80px 30px;
    margin: 40px;
    

}



.html  {
    background-color: rgb(146, 127, 127);
    
    display: flex;
    border-radius: 40px 210px 210px 201px;
    margin: 15px;
    

}

.html p {
    background-color: rgb(59, 51, 51);
    margin: 75px 64px 50px 10px;
    color: rgb(255, 255, 255);
    border-radius: 40px 50px 90px 40px;
    padding: 20px;
    


}

.html img {
    height: 160px;
    border-radius: 20px 20px 20px 70px;
    margin: 50px 40px 40px 40px  ;
    

}



.css  {
    background-color: rgb(201, 184, 168);
    
    display: flex;
    border-radius: 510px 170px 1330px 1122px ;
    margin: 35px 20px 20px 20px;
    
    
    

}

.css p {
    color: black;
    margin: 75px 64px 10px 0px;
    background-color: rgb(240, 239, 239);
    padding: 30px 20px 5px 20px;
    border-radius: 50px 20px 55px 20px;


}

.css img {
    height: 160px;
    border-radius: 60px 30px 80px 30px;
    margin: 40px 18px 20px 40px;
    

}

/*
.div{
    height: 20px;
    width: 20px;
    
    background-color: rgb(11, 117, 73);
    border-radius: 50px;
    margin: 0px 20px 0px 40px;
}

.div1{
    height: 20px;
    width: 20px;
    
    background-color: rgb(11, 117, 73);
    border-radius: 50px;
    margin: 0px 20px 0px 40px;
}*/
